# For the javaapp
*.class
./javaapp/.gradle
./javaapp/build/
./javaapp/gradle/wrapper/gradle-wrapper.jar
./javaapp/**/src/main/**/build/
./javaapp/**/src/test/**/build/

./javaapp/bin/
./javaapp/**/src/main/**/bin/
./javaapp/**/src/test/**/bin/
./javaapp/.apt_generated
./javaapp/.classpath
./javaapp/.factorypath
./javaapp/.project
./javaapp/.settings
./javaapp/.springBeans
./javaapp/.sts4-cache

# For the nodeapp
./nodeapp/node_modules

# For the clientapp
./clientapp/node_modules

